
          
          
          
                <div   class="container">
                    <div  *ngIf  ='isLodaing == true' class="row ">
                    <div class="col-lg-9">
                        <h1 class="py-5">tv</h1>

                        <div class="movieinfo   py-5"><img [src]="imgPrefix+tvDetails.backdrop_path"></div>


                        
                        <div class="tvDetails">

                            <h3 class="pt-5 gree font-weight-bold">{{tvDetails.original_name}}</h3>
                            <p  class="py-5">{{tvDetails.overview}}</p>
                        </div>

                        <div class="row">
                        <div class="col-md-6  Movi  ">
                            <h4>Original Release</h4>
                             <span>{{tvDetails.last_air_date}}</span>
                        </div>

                        <div class="col-md-6  Movi  ">
                            <h4>Running Time                                </h4>
                             <span>{{tvDetails.episode_run_time}} mins</span>
                        </div>


                        <div class="col-md-6  Movi  ">
                            <h4>Budget</h4>
                             <span>{{tvDetails.budget}}</span>
                        </div>



                        <div class="col-md-6  Movi  ">
                            <h4>Voting Average </h4>
                             <span>{{tvDetails.vote_average}} %</span>
                        </div>



                    </div>





                    </div>



                    <div class="col-md-3 col-lg-3 col-sm-3 ">
                        <h1 class="py-5">TOP TEN</h1>

                        <div *ngFor='let movie of topTrend' class="movieItem movieinfo pt-5">
                            <img class="w-50" [src]="imgPrefix+movie.poster_path">
                            <h5 class="py-2">{{movie.title}}</h5>
                        </div>

                       
                        </div>


                       
                    </div>






                    <footer class="Footer__footer___2nhzB"><p>Made by <a href="https://www.linkedin.com/in/mohamed-gehad2798/"><strong>Mohamed Gehad</strong> </a></p><p><a href="https://github.com/mohamedgehad"><span  class="fa fa-github "></span> View code</a></p></footer>
                </div>


